header, footer {
    background-color: brown;
    border-bottom: 10px dashed red; 
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    
}

html {
    background-color: black;
}
nav {
    border-top: 3px dashed #546a7b;
    border-bottom: 3px dashed #546a7b;
    margin-top: 4px;
}

nav a:visited {
    color: pink;
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
    color: #000000; 
    font-weight: bold;
}

img {
    border: cadetblue;
    border: 5px dashed brown;
    width: 400px;
    height: 150px;
}
section {
    text-align: center;
    background-color: green;
}

header {
    text-decoration: wavy;
    background-color: brown;
}


