header, footer {
    background-color: brown;
    border-bottom: 10px dashed red; 
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    
}

nav {
    text-decoration: none;
}

nav a:visited {
    color: pink;
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
    color: #000000; 
    font-weight: bold;
}




